body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.container {
	margin: 0 auto;
	width: 1200px;
}

.main-header {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;

  list-style: none;
}

.main-promo {
  background-image: url("../img/main-logo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  width: 1200px;
  height: 475px;
  background-size: cover;
}


.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation a:active {
  color:#766357;
}

 main {
   background-color: #ffffff;
}

.main-promo {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.reasons {
 text-align: center;
 font-size: 14px;
 line-height: 26px;
 font-weight: normal;
}

.reasons-with-picture {
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
}

.reason-with-picture {
	background-color: #81b3d2;
	color: #ffffff;
	  text-align: left;

}

.devil-bridge-picture,
.sedona-picture {
	text-align:right;
}


.advice {
	background-color: #ffffff;
	color:#000000;
}

.area,
.road,
.tourist
{
color:#000000;
background-color: #eeeeee;
}

.landmark {
	color:#000000;
background-color: #eeeeee;
}

.interested {
	background-color: #ffffff;
	text-align: center;
}

.interested h2 {
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;

	color:#000000;
}

.interested p {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;

  color: #000000;
}

.button.link-search {
	font: inherit;
	font-size:21px;
	font-weight: 21px;
  text-align: center;
  text-transform: uppercase;

  background-color: #766357;
color: #ffffff;
}

.button.link-search a:active {
background-color: #503e33;
rgba: (80, 62, 51, 0.5);
}

.button.link-search a:focus,
.button.link-search a:hover {
	background-color: #604e43;
}

.appointment-item input {
  font-size: 14px;
  font-weight: 21px;
  color: #000000;
  
  border: 2px solid #e5e5e5;
}

.button.plus-minus {
	background-color:#f2f2f2;
    border:none;
    color:#a9a9a9;
}

.button.plus-minus:hover,
.button.plus-minus:focus{
	color:#000000;
}

.button.plus-minus:active {
	color:#81b3d2;
	border:none;
}

.button.search {
font: inherit;
	font-size:14px;
	font-weight: 21px;
  text-align: center;
  text-transform: uppercase;

  background-color: #81b3d2;
color: #ffffff;
}

.map {
	background-image: url("../img/map.jpg");
	width: 1200px;
	height: 470px;
	background-position: top center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: cover;
}

.button.seacrh a:hover,
.button.search a:focus {
	background-color:#669ec0;
}

.button.search a:active {
	rgba: (84, 150, 189, 0.5);
}

.social-button {
	background-color:#81b3d2;
	color:#ffffff;
	list-style: none;

}


.inner-page {
  color: #000000;

  background-color: #ffffff;
  background-position: center;
  background-repeat: repeat;
}

.filters {
	background-image: url("../img/filter.jpg");
	width: 1200px;
	height: 215px; 
	background-size: cover;
	background-position: top center;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.sorting {
	  list-style: none;

}

.button.show {
	background: transparent;
}

.button.show:hover {
	background-color:#ffffff;
	color:#000000;
	border:none;
}

.button.detail a:hover,
.button.detail a:focus {
	background-color: #669ec0;
	color:#ffffff;
}

.button.detail {
	background-color: #81b3d2;
	color: #ffffff;
} 

.button.detail a:active {
 opacity: 0.5;
background-color: #5496bd;
}

.button.book {
	color:#ffffff;
    background-color: #766357
}

.button.book a:active{
opacity: 0.5;
background-color: #503e33;
}

.button.book a:hover,
.button.book a:focus {
color:#ffffff;
background-color: #604e43;
}


.name-hotel {
	color:#000000;
	font-size: 21px;
	font-weight: 26px;

}

.name-hotel:hover,
.name-hotel:focus{
color:#a5c9df;
}

.name-hotel:active {
	color:#d1d1d1;
}


.catalog-list {
	list-style: none;
}

.sorting-list {
	list-style: none;
}

.infrastructure {
	list-style: none;
}

.housing {
	list-style: none;
}