body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 1200px;
  position: relative;
  box-shadow: 0px 5px 15px 0px rgba(1, 1, 1, 0.2);
}

.button {
  border: none;
  cursor: pointer;
}

.main-header {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;

  list-style: none;
}

.main-promo {
  background-image: url("../img/main-logo.jpg");
  background-position: 50% 27%;
  background-repeat: no-repeat;
  position: relative;
  background-color: #ffffff;
  width: 100%;
  min-height: 510px;
  background-size: cover;
}

.main-promo::before {
  content: "";

  background-image: url("../img/line.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  width: 1200px;
  height: 57px;
  bottom: -1px;
  left: 0;
}

.main-header {
  position: relative;
  height: 55px;
}

.site-navigation li {
  line-height: 26px;
  font-weight: bold;
}


.site-navigation {
  height: 18px;

  background-color: #ffffff;
  list-style: none;
  margin: 0;
  padding: 17px 72px 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.site-navigation li:nth-child(4n+3) {
  width: 283px;
  padding-right: 4px;
  text-align: right;
}


.site-navigation li:nth-child(4n+1) {
  width: 241px;
}

.site-navigation li:nth-child(4n+4) {
  width: 241px;
  text-align: right;
}

.site-navigation li:nth-child(4n+2) {
  width: 287px;
}


.main-header-logo {
  width: 138px;
  min-height: 70px;
  position: absolute;
  margin-right: -69px;
  right: 50%;
  z-index: 1;
}


.main-promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}





.site-navigation a {
  color: #000000;
}




.site-navigation a:hover,
.site-navigation a:focus {
  color: #a3c7de;
}

.site-navigation a:active {
  color: #b2b2b2;
}

.main {
  background-color: #ffffff;
}

.reasons b {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.reasons p {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
  padding-top: 16px;
  padding-right: 7px;
}

.reasons {
  text-align: center;
  height: 213px;
  padding-top: 58px;
  padding-left: 5px;
  box-sizing: border-box;
}

.reason-with-picture h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.reason-with-pucture p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.reason-with-picture {
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
  height: 255px;
  box-sizing: border-box;
}


.reason-with-picture.sedona {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 257px;
  text-align: center;
}

.reason-with-picture.devil {
  min-height: 250px;
}


.sedona-real-city {
  text-align: center;
  padding-left: 59px;
  margin-bottom: 18px;
}

.sedona-real-city h2 {}

.sedona-real-city p {
  padding-top: 7px;
}

.sedona-picture {
  padding: 0;
  margin: 0;
  height: 257px;
  overflow: hidden;
}

.sedona-picture img {
  margin-top: -76px;
}


.devil-bridge-picture {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 255px;
}

.devil-bridge-picture img {
  margin-top: -75px;
}

.devil-bridge h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.devil-bridge p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
}


.advice h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  margin-top: 50px;
}


.advice p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  margin-top: 25px;
}

.advice {
  min-height: 330px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  box-sizing: border-box;

  background-color: #ffffff;
  color: #000000;
  padding-bottom: 8px;
  padding-left: 2px;
}


.housing {
  background-image: url(../img/icon-1.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-color: #ffffff;
  position: relative;
  box-sizing: border-box;
  padding-top: 50px;
  width: 400px;
}

.food {
  background-image: url(../img/icon-3.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-color: #ffffff;
  position: relative;
  box-sizing: border-box;
  padding-top: 50px;
  width: 400px;
}

.souvenir {
  background-image: url(../img/icon-2.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-color: #ffffff;
  position: relative;
  box-sizing: border-box;
  padding-top: 50px;
  width: 400px;
}



.landmark {
  color: #000000;
  background-color: #eeeeee;
}

.landmark p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
}

.landmark h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.devil-bridge {
  text-align: center;
  padding-right: 45px;
  margin-bottom: 20px;
}

.devil-bridge p {
  padding-top: 10px;
}

.devil-bridge h2 {
  padding-top: 5px;
}

.reason-with-picture.devil {
  display: flex;
  flex-direction: row;
  min-height: 255px;
  justify-content: space-between;
  align-items: center;
}


.landmark {
  min-height: 255px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  padding-left: 25px;
}

.landmark h2 {
  margin-bottom: 20px;
}

.landmark p {
  margin-bottom: 25px;
}

.road {
  padding-left: 20px;
}



.interested {
  background-color: #ffffff;
  text-align: center;
}

.interested h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;

  color: #000000;
  padding-top: 30px;
  margin-bottom: 10px;
}

.interested p {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;

  color: #000000;
}

.interested {
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 566px;
  min-height: 296px;
  margin-left: 317px;
  margin-right: auto;
  position: relative;
}

.button.link-search {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: #766357;
  color: #ffffff;
  min-height: 85px;
  position: relative;
  top: 35px;
  margin: 0 auto;
  width: 565px;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 30px;

  /*padding-right: 10px; */
}

.appointment-form {
  display: block;
  width: 566px;
  min-height: 395px;
  box-sizing: border-box;
  padding-left: 53px;
  padding-right: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  position: absolute;
  top: 295px;
  background-color: white;
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.button.link-search:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.button.link-search:focus,
.button.link-search:hover {
  background-color: #604e43;
}

.appointment-item input {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  height: 40px;
  outline: none;
  cursor: pointer;
  margin-bottom: 15px;
}

.input-wrapper {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  height: 40px;
  outline: none;
  cursor: pointer;
}

.input-wrapper:hover {
  background-color: #ebebeb;
}

.input-wrapper:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.input-wrapper::placeholder {
  color: black;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}

.appointment-item input:hover {
  background-color: #ebebeb;
}

.appointment-item input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}


.appointment-item input::placeholder {
  color: black;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}



.appointment-item label {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 9px;
}




.appointment-item.date {
  position: relative;
  width: 455px;
  margin-left: 2px;
}


.calendar-icon {
  position: absolute;
  fill: #a9a9a9;
  right: 7px;
  bottom: 15px;
}




.appointment-item {
  width: 455px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.input-wrapper {
  width: 38px;
  height: 38px;
  text-align: center;
  box-sizing: border-box;
}


.number {
  display: flex;
  flex-direction: row;
  width: 455px;
  justify-content: space-between;
  padding-left: 2px;
}


.adults {
  width: 248px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
  margin-right: 5px;
}


.children {
  width: 179px;
  padding-left: 50px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-right: 8px;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  width: 115px;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 17px;
}


.appointment-item.date input {
  width: 343px;
  height: 38px;
  padding-left: 10px;
  padding-top: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.button.plus-minus {
  cursor: pointer;
  background-color: #f2f2f2;
  border: none;
  color: #a9a9a9;

  font-size: 25px;
  font-weight: bold;
  height: 38px;
  width: 38px;

  outline: none;
}


.button.plus-minus:hover,
.button.plus-minus:focus {
  color: #000000;
  border: none;
}

.button.plus-minus:active {
  color: #81b3d2;
  border: none;
}



.calendar-icon:hover,
.calendar-icon:focus {
  fill: #000000;
}

.calendar-icon:active {
  fill: #81b3d2;
}

.button.search {
  cursor: pointer;
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-top: 36px;
  width: 460px;
  min-height: 58px;
  background-color: #81b3d2;
  color: #ffffff;
}

.button.search:hover,
.button.search:focus {
  background-color: #669ec0;
  color: #ffffff;
}



.button.search:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.map {
  background-image: url("../img/map.jpg");
  width: 100%;
  min-height: 590px;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: cover;
}

.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
  width: 1200px;
  bottom: 1px;
}

.main-footer {
  min-height: 117px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
}

.main-footer-inner {
  min-height: 123px;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.footer-copyright {
  display: flex;
  width: 33.22222%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 155px;
  margin-bottom: 10px;
}

.footer-copyright a {
  display: inline-block;
  margin-left: 80px;
  position: absolute;
  margin-top: 2px;
  padding-left: 2px;
}




.hashtag {
  display: flex;
  width: 33.22222%;
  justify-content: flex-start;
  margin-left: 133px;
  margin-right: 250px;
}




.social.list-reset {
  display: flex;
  flex-direction: row;
  width: 33.22222%;
  margin: 0;
  padding: 0;
  margin-right: 225px;
}

.social.list-reset li {
  margin-right: 5px;
}


.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 48px;
  background-color: #81b3d2;
  margin-top: 5px;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
  fill: #ffffff;
}

.social-button:active svg {
  background-color: #5496bd;
  opacity: 0.3;
}

.social-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.footer-copyright a:focus,
.footer-copyright a:hover {
  fill: #a6c9df;
}

.footer-copyright a:active {
  fill: #bdbbbc;
}

.footer-copyright {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}


.hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.inner-page {
  color: #000000;

  background-color: #ffffff;
  background-position: center;
  background-repeat: repeat;
}

.navigation-current a {
  color: #766357;
}

.filters {
  background-image: url("../img/filter.jpg");
  width: 100%;
  min-height: 215px;
  background-size: cover;
  background-position: 50% 18%;
  background-repeat: no-repeat;
  background-color: #ffffff;
  color: #ffffff;
}


.filter-option {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

.sorting {
  list-style: none;
}

.list-reset ul {
  margin: 0;
  padding: 0;
}

.search-hotel {
  width: 150px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 63px;
}

.sort-type {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.catalog-item-image {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

.catalog-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  padding-left: 73px;
  padding-top: 24px;
  padding-right: 25px;
  padding-bottom: 10px;
}

.catalog-item {
  min-height: 150px;
  border-bottom: 1px solid #cacaca;
}

.catalog-item:last-child {
  border: none;
}


.catalog {
  border-bottom: 1px solid #cacaca;
  width: 1200px;
}



.hotel-wrapper h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  padding: 0;
  margin: auto;
}

.hotel-wrapper b {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  padding-bottom: 9px;
}




.hotel-wrapper {
  width: calc(100% - 321px);
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}


.list-reset p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.table {
  border: 0 none;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}


.filters {
  height: 220px;
  box-sizing: border-box;
}

.filter fieldset {
  padding: 0;
  margin: 0;
}

.filter ul {
  padding: 0;
  margin: 0;
}

.staple {
  padding-top: 26px;
  margin-bottom: 22px;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  padding-right: 33px;
}



.staple-wrapper {
  margin-left: 73px;
}


.filter-option {
  margin-bottom: 25px;
  padding-left: 35px;
}

.type-of-house {
  margin-left: 87px;
}



.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;

  box-sizing: border-box;

  margin-bottom: 25px;

  margin-left: 5px;
}


.filter-input-checkbox+label::before {
  content: "";
  position: absolute;

  width: 25px;
  height: 25px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  top: 0px;
  left: -40px;
}

.filter-input-checkbox:checked+label::after {
  content: "";

  position: absolute;

  width: 25px;
  height: 25px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  top: 0px;
  left: -40px;
}


.filter-input-checkbox:disabled {
  color: #6a6a6a;
}



.filter-range {
  box-sizing: border-box;
  width: 319px;

  color: #ffffff;
  text-transform: uppercase;

  margin-top: 5px;

  margin-left: 346px;
}

.filter-range-title {
  margin-bottom: 9px;
  margin-top: 4px;
  margin-left: 2px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 32px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;

  margin-bottom: 20px;
}

.min-price {
  position: relative;
  bottom: 5px;
  right: 9px;
}

.max-price {
  position: relative;
  bottom: 5px;
  right: 15px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-left: 3px;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  width: 314px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 85%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px rgba(0, 1, 1, 0.2);
  cursor: pointer;
}




.range-toggle:hover {
  width: 5px;
  height: 5px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0px;
}

.range-toggle-max {
  left: 80%;
}

.button.show {
  display: block;

  padding: 6px 35px;
  margin-left: 85px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}

.button.show:hover {
  background-color: #ffffff;
  color: #000000;
  outline: none;
}

.price {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  width: 180px;
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
  margin-top: 9px;
}



.button.detail {
  display: inline-block;
  margin-right: 3px;
  width: 109px;
  min-height: 26px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 3px;
}

.button.book {
  display: inline-block;
  width: 142px;
  min-height: 26px;
  text-align: center;
  padding-top: 3px;
  box-sizing: border-box;
}


.button-hotels {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  box-sizing: border-box;
  padding-top: 5px;
}


.button.detail {
  background-color: #81b3d2;
  color: #ffffff;
}

.button.detail:hover,
.button.detail:focus {
  background-color: #669ec0;
  color: #ffffff;
}


.button.detail:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button.book {
  color: #ffffff;
  background-color: #766357;
}

.button.book:hover,
.button.book:focus {
  color: #ffffff;
  background-color: #604e43;
}



.button.book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-name {
  color: #000000;
  display: block;
}

.hotel-name:focus,
.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}




.rating-and-star {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #666666;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  height: 90px;
  margin-top: 5px;
}

.stars svg {
  padding-left: 2px;
}

.rating {
  background-color: #f2f2f2;
  width: 110px;
  text-align: center;
  height: 26px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}


.list-reset {
  list-style: none;
}


.footer-social {
  list-style: none;
}


.triangle-up {
  width: 0px;
  height: 0px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 10px solid #cacaca;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid #81b3d2;
}

.triangle-down:disabled {
  cursor: default;
  opacity: 0.5;
  border-top: 10px solid #000000;
  width: 40px;
}

.triangle-down:hover {
  border-top: 10px solid #231f20;
}

.triangle-down:focus {
  border-top: 10px solid #231f20;
}

.triangle-down:active {
  border-top: 10px solid #81b3d2;
}

.triangle-up:disabled {
  cursor: default;
  opacity: 0.5;
  border-bottom: 10px solid #000000;
}

.triangle-up:hover {
  border-bottom: 10px solid #231f20;
}

.triangle-up:focus {
  border-bottom: 10px solid #231f20;
}

.triangle-up:active {
  border-bottom: 10px solid #81b3d2;
}


.triangle {
  display: flex;
  width: 40px;
  height: 10px;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 73px;
}
















/* немного сетки */

.sorting {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 30px;
  width: 1200px;
  min-height: 85px;
  border-bottom: 1px solid #cacaca
}

.list-reset.hotel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}




.list-reset.sort-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.for-sorting {
  margin-right: 38px;
  margin-top: 3px;
  margin-left: 3px;
}

.for-suction {
  margin-right: 30px;
  color: #e7e7e7;
  margin-top: 3px;
  margin-left: 3px;
}


.for-suction:hover,
.for-suction:focus {
  color: #81b3d2;
}

.current {
  color: #81b3d2;
  cursor: pointer;
}

.nocurrent {
  border-bottom: 1px dotted #81b3d2;
  cursor: pointer;
}

.for-suction:active {
  color: #262626;
  border: none;
}





.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 160px);
}



.list-reset.sort-type ul {
  margin: 0;
  padding: 0;
}

