body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.main-header {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;

  list-style: none;
}

.main-promo {
  background-image: url("../img/main-logo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  width: 100%;
  min-height: 475px;
  background-size: cover;
}



.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation a:active {
  color: #766357;
}

.main {
  background-color: #ffffff;
}

.reasons b {
  font-size: 21px;
  font-height: 26px;
  font-weight: bold;
}

.reasons p {
  font-size: 14px;
  font-height: 26px;
  font-weight: normal;
}

.reason-with-picture h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.reason-with-pucture p {
  font-size: 14px;
  font-height: 21px;
  font-weight: normal;
}

.reason-with-picture {
  background-color: #81b3d2;
  color: #ffffff;
  text-align: left;
  min-height: 255px;
}



.devil-bridge-picture,
.sedona-picture {
  text-align: right;
}


.advice {
  background-color: #ffffff;
  color: #000000;
}


.landmark {
  color: #000000;
  background-color: #eeeeee;
}

.landmark p {
  font-size: 14px;
  font-height: 21px;
}

.landmark h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.interested {
  background-color: #ffffff;
  text-align: center;
}

.interested h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;

  color: #000000;
}

.interested p {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;

  color: #000000;
}


.button.link-search {
  font: inherit;
  font-size: 21px;
  font-weight: 26px;
  text-align: center;
  text-transform: uppercase;

  background-color: #766357;
  color: #ffffff;
}

.button.link-search a:active {
  background-color: #503e33;
  rgba: (80, 62, 51, 0.5);
}

.button.link-search a:focus,
.button.link-search a:hover {
  background-color: #604e43;
}

.appointment-item input {
  font-size: 14px;
  font-weight: 21px;
  color: #000000;

  border: 2px solid #e5e5e5;
}

.appointment-form {
  font-weight: bold;
  font-size: 14px;
  font-height: 26px;
}



.button.plus,
.button.minus {
  background-color: #f2f2f2;
  border: none;
  color: #a9a9a9;
}

.button.plus:hove .button.plus:focus,
.button.minus:hover,
.button.minus:focus {
  color: #000000;
}

.button.plus:active,
.button.minus:active {
  color: #81b3d2;
  border: none;
}


.button.search {
  font: inherit;
  font-size: 14px;
  font-weight: 21px;
  text-align: center;
  text-transform: uppercase;

  background-color: #81b3d2;
  color: #ffffff;
}

.button.seacrh a:hover,
.button.search a:focus {
  background-color: #669ec0;
}



.button.search a:active {
  color: rgba(84, 150, 189, 0.5);
}

.map {
  background-image: url("../img/map.jpg");
  width: 100%;
  min-height: 470px;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: cov er;
}


.social-button {
  b ackground-color: #81b3d2;
  color: #ffffff;
  list-style: none;
}

.hashtag {
  font-size: 21px;
  font-height: 26px;
  font-weight: bold;
}

.inner-page {
  color: #000000;

  background-color: #ffffff;
  background-position: center;
  background-repeat: repeat;
}

.filters {
  background-image: url("../img/filter.jpg");
  width: 100%;
  min-height: 215px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  color: #ffffff;
}

.staple {

  font-size: 21px;
  font-weight: bold;
  font-height: 26px;
}

.filter-option {
  font-size: 14px;
  font-weight: normal;
  font-height: 21px;
}

.sorting {
  list-style: none;
}

.search p {
  font-size: 21px;
  font-weight: bold;
  font-height: 26px;
}

.list-reset p {
  font-size: 12px;
  font-height: 18px;
  font-weight: normal;
}
.button.show {
  background: transparent;
  color: #ffffff;
}

.button.show:hover {
  background-color: #ffffff;
  color: #000000;
  border: none;
}

.price {
  font-size: 14px;
  font-weight: normal;
  font-height: 21px;
}

.button.detail {
  background-color: #81b3d2;
  color: #ffffff;
}
.button.detail a:hover,
.button.detail a:focus {
  background-color: #669ec0;
  color: #ffffff;
}


.button.detail a:active {
  background-color: #5496bd;
}

.button.book {
  color: #ffffff;
  background-color: #766357
}

.button.book a:active {
  background-color: #503e33;
}
.button.book a:hover,
.button.book a:focus {
  color: #ffffff;
  background-color: #604e43;
}


.name-hotel {
  color: #000000;
  font-size: 21px;
  font-weight: 26px;
}

.name-hotel:hover,
.name-hotel:focus {
  color: #a5c9df;
}

.name-hotel:active {
  color: #d1d1d1;
}

.button-hotels {
  font-size: 14px;
  font-height: 21px;
  font-weight: bold;
}

.rating {
  font-size: 14px;
  font-height: 21px;
  font-weight: normal;
}



.list-reset {
  list-style: none;
}


.footer-social {
  list-style: none;
}


.triangle-up {
  width: 0px;
  height: 0px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 13px solid #cacaca;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 13px solid #cacaca;
}








/* немного сетки */
.main-header {
  position: relative;
  min-height: 56px;
}



.site-navigation {
  margin: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 31px;
  padding-top: 31px;
}

.main-header-logo {
  width: 138px;
  min-height: 70px;
  position: absolute;
  margin-right: -69px;
  right: 50%;
}


.main-promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sedona-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 255px;
}

.advice {
  min-height: 255px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 75px;
  margin-right: 155px;
}

.devil-wrapper {
  display: flex;
  flex-direction: row;
  min-height: 255px;
  justify-content: space-between;
  align-items: center;
}


.landmark {
  min-height: 255px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 60px;
  padding-left: 75px;
  padding-right: 75px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 576px;
  min-height: 480px;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  min-height: 250px;
}

.appointment-item {
  position: relative;
}

.button.link-search {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 576px;
  min-height: 85px;
}

.button.search {
  width: 460px;
  min-height: 55px;
}

.main-footer {
  min-height: 123px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-copyright {
  margin: 0;
  width: 200px;
  margin-left: auto;
  margin-right: 100px;
}

.hashtag {
  width: 138px;
  margin-right: 255px;
  margin-left: auto;
}

.list-reset.social {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-button {
  width: 148px;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}


.sorting-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 30px;
}


.list-reset.hotel {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}



.catalog-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.hotel-wrapper {
  width: calc(100% - 250px);
}

.list-reset.sort-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.for-sorting {
  margin-right: 35px;
}

.for-suction {
  margin-right: 25px;
}
